body {
    background: white url("images/background.png");
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

audio {
    width: 100%;
}