{% extends 'music/base.html' %}
{% block title %} Viberr - Add a new album {% endblock %}
{% block albums_active %} active {% endblock %}

{% block body %}
    <div class = "container">
        <div class="row">

            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'music/form-template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>

                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-5">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>What is Viberr?</h3>
                        Viberr is an app that allows you to upload and store your albums on the cloud.
                        <h3>How do I add music?</h3>
                        Fill out the form on the left to create an album. Once that is done, you can add songs.
                        <h3>Album logo best practices:</h3>
                        <ul>
                            <li>
                                Image size should be 220px
                            </li>
                            <li>
                                Use a common format, such as .jpg or .png
                            </li>
                            <li>
                                Square images work best
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}