{% extends 'music/base.html' %}
{% block albums-active %}active{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <h3>{{ first_name_albums }}</h3>

            {% if search %}
                <h4>Search results ({{ all_albums.count }}): {{ query }}</h4><br>
            {% endif %}

            {% for album in all_albums %}
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <a href="{% url 'music:detail' album.id %}">
                            <img src="{{ album.logo.url }}" class="img-responsive" alt="album logo">
                        </a>
                        <div class="caption">
                            <h2>{{ album.title }}</h2>
                            <h5>{{ album.artist }}</h5>
                        </div>

                        <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm" role="button">
                            View Details
                        </a>

                        <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="album_id" value="{{  album.id }}" />
                            <button type="submit" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you want to delete {{ album.title }}?')">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>

                        <a href="{% url 'music:album-favourite' album.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                            {% if album.is_favourite %}
                                <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-16.png" alt="favourite">
                            {% else %}
                                <img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/star-16.png" alt="not-favourite">
                            {% endif %}
                        </a>

                        Songs: {{ album.get_number_of_songs }}
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}

            <!-- Check if all_albums is empty -->
            {% if not all_albums %}
                <a href="{% url "music:album-add" %}">
                    <div class="col-sm-4 col-lg-3">
                            <div class="thumbnail">
                                    <div style="text-align: center;">
                                        <span class="glyphicon glyphicon-plus" style="font-size: 50px;"></span>
                                    </div>
                                <div class="caption text-center">
                                    <h4>Add a new album</h4>
                                </div>
                            </div>
                    </div>
                </a>
            {% endif %}

        </div>
    </div>
{% endblock %}
